In [2]:
import pandas as pd

# Pandas Objects : DataFrame and Series

## DataFrame

A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [8]:
data = pd.read_csv("Penan_data.csv")
data

            Font  FontSize FontColor
0          Arial        16       red
1       Consolas        22     green
2  TimesNewRoman        10     black
3    ArialNarrow        12      blue

In [11]:
data.iloc[:, :2]

            Font  FontSize
0          Arial        16
1       Consolas        22
2  TimesNewRoman        10
3    ArialNarrow        12

In [12]:
data.iloc[:2, :]

       Font  FontSize FontColor
0     Arial        16       red
1  Consolas        22     green

In [3]:
data = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

In [4]:
data

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [6]:
data = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']}, index=["A", "B"])

In [7]:
data.to_csv("Penan_data.csv")

In [14]:
x = pd.DataFrame()
x

Empty DataFrame
Columns: []
Index: []

In [18]:
list_of_lists = [
    [4, 5, 6],
    ['A', 'B', 'C'],
    [10.1, 20.1, 30.1]
]
x = pd.DataFrame(list_of_lists)
x

      0     1     2
0     4     5     6
1     A     B     C
2  10.1  20.1  30.1

# data.csv
Font-FontSize-FontColor
Arial-16-red
Consolas-22-green
TimesNewRoman-10-black
ArialNarrow-12-blue

In [20]:
data = pd.read_csv("data.csv", delimiter='-')
data

            Font  FontSize FontColor
0          Arial        16       red
1       Consolas        22     green
2  TimesNewRoman        10     black
3    ArialNarrow        12      blue