In [12]:
import pandas as pd
import numpy as np

In [8]:
x = pd.Series(["Alice", "Bob", "Marley"], name="Penan")
x

0     Alice
1       Bob
2    Marley
Name: Penan, dtype: object

In [9]:
x.head()

0     Alice
1       Bob
2    Marley
Name: Penan, dtype: object

In [10]:
x = pd.Series([10.1, 20.1, 30.1])
x

0    10.1
1    20.1
2    30.1
dtype: float64

In [13]:
x = pd.Series([1, 3, np.nan, 12, 6, 8])
x

0     1.0
1     3.0
2     NaN
3    12.0
4     6.0
5     8.0
dtype: float64